/* game board table */
#board {
  margin-left: calc(0.5 * (100vw - 378px));
  margin-top: calc(0.5 * (100vh - 378px));
}

#board td {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  position: absolute;
  top: 0px;
  animation-name: slidein;
  animation-duration: var(--fallTime);
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

@keyframes slidein {
  from {
    transform: translateY(var(--fallDistance));
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

/* preview piece shows up in the column-top table row */

.preview {
  visibility: hidden;
  background-color: red;
  opacity: 50%;
  width: 80%;
  height: 80%;
  margin: 5px;
  border-radius: 50%;
}

#column-top td:hover .preview{
  visibility: visible;
}